__pycache__/
*.py[cod]
.venv/
venv/
.env
.ipynb_checkpoints/
.DS_Store

# Ancrés à la racine (/) pour ne PAS attraper src/data/
/data/
/models/*.pt
/models/*.pth
/results/figures/*.png

# On garde les résultats chiffrés
!/results/*.csv
!/results/*.json
